<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="mb-lg">
         <em class="fa fa-wrench fa-5x text-muted"></em>
      </div>
      <div class="text-lg mb-lg">500</div>
      <p class="lead m0">Oh! Password yang SPG masukkan salah :(</p>
      <p>Silahkan ketik kembali alamat yang diberikan dan ulangi kembali proses claim.</p>
   </div>
</div>
