<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <center>
      <p>
        <span>
          SELAMAT!
        </span>
        &mdash; Anda Mendapatkan <b><i>1 buah <%= @lucky_draw.gift %></i></b>
        dan Anda berkesempatan untuk mendapatkan Grand Prize dari Royal Corp. <br /> Simpan No Voucher Berikut 
        <b><i><%= @lucky_draw.grand_voucher %></i></b>&mdash;
      </p>
    </center>
  </div>
</div>