<div class="row">
   <!-- Blog Content-->
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="bb">
               <h2 class="text-lg text-center"><i> FOAM&#169; WARRANTY TERMS </i></h2>
               <p class="text-center">Syarat dan Ketentuan Garansi Produk Busa Royal*</p>
            </div>
         </div>
         <div class="panel-body text-md">
            <p>Royal Foam menjamin bahwa produk kasur busa ini dibuat dari bahan berkualitas terbaik dan bebas dari kerusakan dalam proses pengerjaannya.
              Garansi ini dapat diklaim dengan syarat dan ketentuan sebagai berikut:</p>
            <p>1. Garansi terbatas ini hanya berlaku s.</p>
            <p>2. Garansi ini HANYA BERLAKU untuk Busa, tidak berlaku untuk kain pembungkusnya.</p>
            <p>3. Mengisi Kartu Garansi dengan lengkap & mengirim kembali Kartu Garansi selambat lambatnya 30 (tiga puluh) hari terhitung sejak tanggal pembelian produk.</p>
            <p>LANGKAH-LANGKAH PENGISIAN KARTU GARANSI:</p>
            <p>1. ANDROID</p>
            <p>Klik Play Store lalu ketik di Google Play(QR CODE READER) lalu install. 
              Buka Aplikasi QR Code Reader dan Scan QR Cde di Kartu Garansi. 
              Isi formulir yang telah disediakan.</p>
            <p>2. WEB BROWSER</p>
            <p>Buka alamat http://warranty.royalfoam.co.id Isi formulir yang telah disediakan</p>
            <p>4. Melampirkan Nota Pembelian pada saat klaim.</p>
            <p>5. Garansi TIDAK BERLAKU jika:</p>
            <p>a. Disimpan pada kondisi tempat yang tidak sesuai atau yang disebabkan oleh bencana alam atau sebab lain yang merupakan kesalahan pengguna.</p>
            <p>b. Ditumpuk dengan barang-barang berat.</p>
            <p>c. Perbaikan dilakukan oleh pihak ketiga selain PT. Royal Abadi Sejahtera.</p>
            <p>d. Tidak tercantum Cap Royal Foam pada produk busa.</p>
            <hr>
            <div role="group"
            <p class="text-center text-ft">Please contact Royal&#169; Foam service hotline:</p>
            <p class="text-center text-ft">(+62 22) 686 6360 (Hunting) EXT. 129</p>
            <p class="text-center text-ft">and present card along with the sales invoice</p>
            </div>
         </div>
      </div>
   </div>
</div>